{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}">
</head>

<body>
    <nav class="shadow-lg p-5">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <a href="#" class="flex">
                <img class="h-10 mr-3" src="{% static 'myapp/images/wallet.png' %}" alt="">
                <span class="text-pink-500 text-3xl font-bold">Expense Tracker</span>
            </a>
            <div class="flex items-center">
                <a href="{% url 'logout' %}" class="mr-6 text-sm font-medium text-pink-500 text-xl font-bold">Logout</a>
                <a href="" class="mr-6 text-sm font-medium text-pink-500 text-xl font-bold flex items-center">
                    <img class="h-8 mr-2" src="{% static 'myapp/images/user.png' %}" alt="">
                    {% if expenses %}
                        <span class="text-pink-500 text-xl font-semibold">{{ expenses.0.person }}</span>
                    {% endif %}
                </a>  
            </div>
            
        </div>
    </nav>
    {% block body %}
    {% endblock %}
</body>

</html>